.unit-toggle {
  display: flex;
  align-items: center;
  background-color: rgba(61, 111, 165, 0.8); /* Màu nền sáng */
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.unit-toggle:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.unit {
  padding: 0 10px;
  color: #007bff; /* Màu mặc định là màu xanh */
}

.separator {
  margin: 0 10px;
  font-size: 20px;
  color: #007bff; /* Dấu phân cách có màu xanh */
}
  
.unit.active {
    color: #007bff;
}

.unit-toggle:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Màu nền khi hover */
}

.unit-toggle:active {
  background-color: rgba(0, 0, 0, 0.2); /* Màu nền khi nhấn */
}

.unit-toggle .unit {
  font-size: 18px;
}

.unit-toggle .unit.active {
  font-weight: bold; /* Làm đậm đơn vị đang chọn */
}