
.search-bar {
  display: flex;
  align-items: center;
  background: none;
  border-radius: 20px;
  padding: 5px;
  height: 30px;
  border: 1px solid white;
}

.search-bar input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  border-radius: 20px;
  background: transparent;
  color: white;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: white;
}
  
.hourly-forecast-container {
  width: 90%;
  max-width: 800px;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  position: relative;
}

.forecast-title {
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.hourly-forecast {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
}

.hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  flex: 1;
  min-width: 60px;
}

.hour span {
  display: block;
  margin: 3px 0;
}

.arrow {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

feature/Additional_Info
.additonal-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.info-box {
  background: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.uv-index span.moderate {
  color: orange;
  font-weight: bold;
}

.forecast-container {
  background: rgba(0, 125, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
  width: 300px;
  font-family: Arial, sans-serif;
  color: white;
  }

h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.forecast-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forecast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 8px;
}

.day {
  font-weight: bold;
}

.icon {
  font-size: 22px;
}

.temp {
  font-size: 14px;
}

.condition {
  font-size: 12px;
  text-align: right;
}

/*Current weather*/
current-temp-container {
  text-align: center;
  color: white;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 45px;
  font-weight: bold;
}

p {
  font-size: 14px;
  margin: 5px 0;
}

 